*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#fdfdfd;
    color: #333;
    line-height: 1.8;
    font-size: 20px;
}
header  h1{
    background: #ff3366;
    color: white;
    padding: 3rem;
    text-align: center;
}
header h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #ff3366;
    padding: 1rem 0;
}
nav li{
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size:18px;
    transition: background 0.3s;
} 
nav a:hover {
    background-color: #ff6699;
    border-radius: 5px;
}

main{
    padding: 3rem;
    max-width: 1200px;
    margin: auto;
}

textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}

button {
    background: #ff3366;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background: #ff6699;
}

img{
    display: block;
    margin: 2rem auto;
    border: 4px solid #ff3366;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

@media (max-width: 768px){
    nav ul{
        flex-direction: column;
    }
}
nav li{
    margin: 0.5rem 0;
}
header h1{
    font-size: 2.2rem;
}
.founders {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.founder{
    text-align: center;
}
.founder img{
    width:100%;
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border : 3px solid #ff3366;
}
.founder p{
    font-size: 1rem;
    line-height: 1.6;
}